body{
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(200, 171, 3);
    height: 100px;
    margin: 0px;
}
header .logo{
 
    display: flex;
    justify-content: center;
    align-items: center;
 margin: 5px;
flex: 1;
}
.burger{
    display: none;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
 margin: 5px;
flex: 1;
font-size: 21px;

}
.navbar a{
    padding: 15px;
    color: black;
    text-decoration: none;
}
.fa-brands{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    box-shadow: -2px -2px 6px green, 2px 5px 5px green;
}
.intro{
    margin: 0px;
    padding-top:20px;
    padding-left: 10px;
    padding-right: 10px;
    background-image: url('IMG-20251127-WA0069.jpg');
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro div{
    margin-top: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding: 10px;
 font-size: 25px;
 
    text-shadow: -1px -1px 2px black, 1px 1px 2px black;
    color: green;
}
.intro div button{
    width: 320px;
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border: 2px solid green;
    color: green;
    font-size: 21px;
    font-weight: bold;
    margin: 10px;
}
#viewproduct{
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid gold;
    color: rgb(240, 205, 6);

}
.intro div button .fa-brands{
    box-shadow: none;
    background: none; 
    color: green;
    font-size: 23px;
}
.products{
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 600px;
   
}



.products .product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
  box-shadow: -3px -2px 5px gold, 2px 10px 10px green ;
 padding: 10px;
  margin:20px;
  width: 380px;
}
.product div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.product div img{
    height: 100%;
}
.product div .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.product div button{
    box-shadow: -1px -1px 5px green, 2px 7px 7px gold ;
    border-radius: 20px;
    width: 120px;
    margin: 10px;
    height: 40px;
}
.product .fa-brands{
    background: none;
    box-shadow: none;
    color: green;
    font-size: 22px;
}
.rate{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;

}
.fa-star{
    color: gold;
    text-decoration: none;
}
.rate .ranges{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.rate .range{
    display:block;
    width: 250px;
    height: 7px;
    background-color: #ddd;
    border-radius: 20px;
}
.rate .ranges .p1{
    z-index: 9999;
    background-color: gold;
    width: 220px;
    height: 7px;
    border-radius: 20px;

}
.rate .ranges .p2{
    z-index: 9999;
    background-color: gold;
    width: 200px;
    height: 7px;
    border-radius: 20px;
}
.rate .ranges .p3{
    z-index: 9999;
    background-color: gold;
    width: 150px;
    height: 7px;
    border-radius: 20px;

}
.rate .ranges .p4{
    z-index: 9999;
    background-color: gold;
    width: 100px;
    height: 7px;
    border-radius: 20px;
}
.fa-heart{
    background: none;
    color: #ddd;
    font-size: 22px;
    cursor: pointer;

}
.like{
    color: red;
}

@media (max-width: 768px) {
    header{
     height: auto;
     padding: 10px;
     font-size: 15px;

    }
    .burger{
        display: flex;
font-size: 28px;
margin: 30px;
    }
    .navbar{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100px;
        width: 100%;
        background: rgb(200, 171, 3);
        padding: 7px;
        border: 2px solid black;
        margin: 5px;
        
        
    }
    .navbar.show{
        display: flex;
        animation-name: navbar;
        animation-duration: 0.2s;
    }
    .intro div{
        margin-top: 100px;
      
    }
    .intro div{
        margin-top: 150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding-right: 20px;
     font-size: 18px;
    }
    .intro div button{
        width: 270px;
       
    }
    .intro div button{
      flex: 1;
    }
    .products{
        flex-direction: column;
      padding: 10px;
        height: auto;
       
    }
    .products .product{
     
      margin:20px;
      width: 330px;
    }
}
@keyframes navbar {
    0%{
       
        width: 0px;
        
    }
    100%{
     
        width: 100%;
    }
}