body{
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(200, 171, 3);
    height: 100px;
    margin: 0px;
}
header .logo{
 
    display: flex;
    justify-content: center;
    align-items: center;
 margin: 5px;
flex: 1;
}
.burger{
    display: none;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
 margin: 5px;
flex: 1;
font-size: 21px;

}
.navbar a{
    padding: 15px;
    color: black;
    text-decoration: none;
}
.fa-brands{
    background: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.intro{
    margin: 0px;
    padding-top:20px;
    background-image: url('IMG-20251127-WA0075.jpg');
    height: 680px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.intro div{
    margin-top: 170px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 padding: 10px;
 font-size: 25px;
    backdrop-filter: blur(5px);
    text-shadow: -1px -1px 2px black, 1px 1px 2px black;
    color: green;
}
.intro div button{
    width: 320px;
    height: 45px;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border: 2px solid green;
    color: green;
    font-size: 21px;
    font-weight: bold;
    margin: 10px;
}
#viewproduct{
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid gold;
    color: rgb(240, 205, 6);

}
.intro div button .fa-brands{
    background: none;
    color: green;
    font-size: 23px;
}
@media (max-width: 768px) {
    header{
     height: auto;
     padding: 10px;
     font-size: 15px;

    }
    .burger{
        display: flex;
font-size: 28px;
margin: 30px;
    }
    .navbar{
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100px;
        width: 100%;
        background: rgb(200, 171, 3);
        padding: 7px;
        border: 2px solid black;
        margin: 5px;
        
        
    }
    .navbar.show{
        display: flex;
        animation-name: navbar;
        animation-duration: 0.2s;
    }
    .intro div{
        margin-top: 100px;
      
    }
    .intro div{
        margin-top: 150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     padding: 15px;
     font-size: 20px;
    }
    .intro div button{
        width: 300px;
       
    }
    .intro div button{
      flex: 1;
    }
}
@keyframes navbar {
    0%{
       
        width: 0px;
        
    }
    100%{
     
        width: 100%;
    }
}